/* just noticed a thin white line on top - to fix */
/* not so sure those are quite the right colors*/

header {background-color: #ecebeb;
        text-align: center;}
#pic {height: 175px;
}
/* goes in bonus 
hr {border-color: peru;}
*/
h2 {color: peru;}
footer {font-size: smaller;
        text-align: center;}